{% extends 'base.html.twig' %}

{% block title %}Gordon's Recipe{% endblock %}
{% block nabrandLogo %}./assets/img/logo.svg{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Gordon's Recipes</h1>
            <p class="lead"><em>Découvrez et partagez de fabuleuses recettes ! It's gonna be Christmas in your mouth !</em></p>
        </div>
    </div>
    {% include "/front_office/include.cards.html.twig" %}
{% endblock %}
